@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,500&display=swap');
*{
    /* background-color:  rgba(243, 239, 239, 0.787); */
    color: rgb(3, 5, 87);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
    text-align: center;

}
body{
    background: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#heading {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding: 10px;
    min-height: 10vh;
    box-sizing: border-box;
}


.bigdiv{
    min-height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.box, #step1, #step2, #step3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    box-sizing: border-box;
    background-color: rgb(218, 219, 219);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.item{
    margin: 10px;
}

.button{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 2px solid black;
}
.button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

.button:disabled{
    background-color:rgb(90, 85, 85);
}

img{
    width: 50px;
    margin: 10px;
}
